* {
    margin: 0;
}

body {
    background-color: hsl(185, 75%, 39%);
}

.attribution {
    position: absolute;
    text-align: center;
    margin: auto;
    bottom: 5px;
    left: 40%;
    right: 40%;
}

.card {
    width: 350px;
    height: 374px;
    background-color: white;
    border-radius: 15px;
    margin: 200px auto auto;
}

.dessus {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.cercle {
    position: relative;
    width: 102px;
    height: 102px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    bottom: 13.7%;
    z-index: 5;

}

.victor {
    position: relative;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 40%;
    z-index: 6;
}

.names {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    position: relative;
    bottom: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.follow {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 0% 30%;
    grid-auto-flow: column;
    position: relative;
    bottom: 100px;
}

.bold {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}

.colors {
    color: hsl(227, 10%, 46%);
    padding-left: 10px;
}

.colors2 {
    color: hsl(227, 10%, 46%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: small;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 140px;
}

.hr {
    position: relative;
    bottom: 115px;
    opacity: 0.3;
}